<h1 mat-dialog-title>Crear owner</h1>
<form [formGroup]="formCreateOwner" (ngSubmit)="onSubmit()" mat-dialog-content>
  <mat-form-field>
    <mat-label>Nombre</mat-label>
    <input matInput formControlName="name">
    <mat-error *ngIf="name.invalid">Este dato es requerido</mat-error>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Apellido</mat-label>
    <input matInput formControlName="last_name">
    <mat-error *ngIf="last_name.invalid">Este dato es requerido</mat-error>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Card</mat-label>
    <input matInput formControlName="card">
    <mat-error *ngIf="card.invalid">Este dato es requerido</mat-error>
  </mat-form-field>
  <div mat-dialog-actions>
    <button type="button" mat-button (click)="onNoClick()">No Thanks</button>
    <button type="submit" mat-button>Ok</button>
  </div> 
</form>

