<table mat-table [dataSource]="data" class="mat-elevation-z8">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> No. </th>
    <td mat-cell *matCellDef="let owner"> {{owner.id}} </td>
  </ng-container>

  
  <ng-container matColumnDef="card">
    <th mat-header-cell *matHeaderCellDef> Cedula </th>
    <td mat-cell *matCellDef="let owner"> {{owner.card}} </td>
  </ng-container>

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Nombre </th>
    <td mat-cell *matCellDef="let owner"> {{owner.name}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="last_name">
    <th mat-header-cell *matHeaderCellDef> Apellido </th>
    <td mat-cell *matCellDef="let owner"> {{owner.last_name}} </td>
  </ng-container>

  <ng-container matColumnDef="option">
    <th mat-header-cell *matHeaderCellDef> Opcipnes </th>
    <td mat-cell *matCellDef="let owner"> 
      <div class="example-button-row">
        <button mat-raised-button color="primary" (click)="selectOwnerToUpdate(owner)">update</button>
        <button mat-raised-button color="warn">Delete</button>
      </div>
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>